<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="page content">
    <h2><%= title %></h2>
    <p>Amid the laughter and caffeine-fueled brainstorming, the brilliant idea emerged to make a blog post using Node.JS, Express, and a MongoDB.  Fueled by curiosity and far too many espresso shots, the vision for a digital utopia where every blog, no matter how bizarre, could find its audience began to take shape.</p>
    <p>Now, here's where things get interesting. This application was actually crafted by following the tutorial of the legendary Net Ninja. Yes, you heard that right! The very tutorial you can start at his YouTube channel. Of course, there are some slight variations between the tutorial and this version—think of them as Easter eggs waiting to be discovered.</p>
    <p>The main purpose of Blog World was to dive deeper into the magical world of NodeJS, exploring the powerful functionalities it offers. Along the way, we also learned about libraries like Express, which added even more pizzazz to our creation, and got a solid grip on the MVC structure. Oh, and let's not forget our adventure into the depths of MongoDB for the backend, where we discovered just how fun it can be to manage a database filled with endless quirky blog posts.</p>
    <p>You too can also learn how to make this application by following along the YouTube course, <a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms">Node.js Crash Course Tutorial</a> and don't forget to subcribe.  You can also review the code used in the tutorial at <a href="https://github.com/iamshaunjp/node-crash-course">Course Github</a>.  Then maybe, just maybe, you too can start your own blog about the hidden life of blogs!</p>
  </div> 
  <%- include('partials/footer') %>
</body>
</html>