<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <h2><%= title %></h2>
  <div class="page">
    <p>Whether you’re a seasoned wordsmith, an amateur philosopher, or just someone with a burning desire to share your cat\'s daily antics, you’ve found your new digital playground. Dive into a universe where every post is an adventure—be it a heartwarming story, a controversial opinion, or a step-by-step guide to baking the perfect chocolate chip cookie.</p>
    <p>Here in Blog World, we celebrate the quirky, the profound, and everything in between. So grab your keyboard, let your imagination run wild, and join our eclectic community of bloggers. Who knows? Your next blog post might just become the talk of the town—or at least the talk of our very enthusiastic members!</p>
  </div>
  <%- include('partials/footer') %>
</body>
</html>